
.left-header {
    padding: 0;
    height: 100vh;

    position: sticky;
    top: 0;
    left: 0;

    width: 60px;

    z-index: 50;
}

.header-content {
    width: 60px;
    height: 100%;

    padding: 15px;
    
    background-color: var(--dark-blue);
    transition: .3s all .1s, .0s visibility .0s;
    /* transition-delay: .1s; */

    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
 
    overflow: hidden;
    visibility: visible;
}
.header-content:hover {
    width: 300px;
}


.logo img {
    height: 30px;
}


ion-icon[name*="menu"] {
    font-size: 30px;
    color: var(--white);
}


.header-text {
    position: relative;
    display: block;
    width: 100%;
}
.header-text::before,
.header-text::after {
    --transition-speed: .15s;

    content: attr(data-text);
    color: var(--white);
    font-size: 15px;
    font-weight: 800;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.header-text::before {
    width: 15px;
    left: 15px;

    text-align: center;
    word-wrap: break-word;

    line-height: 106.4%;

    opacity: 1;
    transition-delay: var(--transition-speed);
    transition-duration: var(--transition-speed);
}
.header-text::after {
    width: 100%;
    opacity: 0;
    transition-delay: 0;
    transition-duration: var(--transition-speed);
}
.header-content:hover .header-text::before {
    opacity: 0;
    transition-delay: 0;
    transition-duration: var(--transition-speed);
}
.header-content:hover .header-text::after {
    opacity: 1;
    transition-delay: var(--transition-speed);
    transition-duration: var(--transition-speed);
}




.navbar-link {
    color: var(--white);

    display: flex;
    justify-content: start;
    align-items: start;

    padding: 15px 0;

    transition: .3s;
}
.navbar-link > ion-icon {
    font-size: 30px;
    min-width: 30px;

    opacity: 1;
    transition: .3s opacity;
}

.header-content:hover .navbar-link:not(:hover):not(.active) > ion-icon {
    opacity: .7;
}

.navbar-text {
    padding-left: 30px;
    opacity: 0;
    font-size: 18px;
    font-weight: 400;

    transition: .3s;
    white-space: nowrap;
}
.left-header.active .navbar-text,
.header-content:hover .navbar-text {
    padding-left: 20px;
    opacity: 1;
}
.left-header.active .navbar-text,
.header-content:hover .navbar-link {
    padding-left: 10px;
    transition-delay: .1s;
    transition-property: padding;
}



/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* links */
.navbar-link {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    z-index: 2;
    cursor: pointer;

    transform: scale(1);
    transition: .15s;
    margin-bottom: 5px;
}
.navbar-text {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* links hover */
.navbar-link:not(.active):hover,
.navbar-link:not(.active):hover > * {
    color: var(--black);
}
.navbar-link:not(.active):hover > * {
    transform: scale(0.9);
}
.navbar-link:not(.active)::before {
    content: '';
    z-index: -1;

    position: absolute;
    top: 50%;
    left: 50%;
    
    width: calc(100% + 15px);
    height: calc(100% + 5px);
    /* border-radius: 8px; */
    border-radius: 100px;
    
    transform: translate(-50%, -50%) scale(0);
    cursor: pointer;
    background-color: var(--white);

    transition: .15s;
}
.navbar-link:not(.active):hover::before {
    transform: translate(-50%, -50%) scale(1);
}

/* active link */
.header-content:hover .navbar-link.active {
    margin-left: -10px;
    padding-left: 20px;
}
.navbar-link.active {
    margin-left: -10px;
    padding-left: 10px;
    margin-right: -50px;
    padding-right: 50px;
    background-color: var(--white);
    border-radius: 100px;

    z-index: 0;
}
.navbar-link.active * {
    color: var(--black);
}

.navbar-link.active::before,
.navbar-link.active::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--dark-blue);

    position: absolute;
    right: 35px;

    border-radius: 50%;

    z-index: -5;
}
.navbar-link.active::before {
    top: -50px;
    box-shadow: 25px 25px 0 0 var(--white);
}
.navbar-link.active::after {
    bottom: -50px;
    box-shadow: 25px -25px 0 0 var(--white);
}

.menu-btn {
    display: none;
    align-items: center;

    color: var(--white);
    font-size: 30px;
}
ion-icon[name*='close'] {
    display: none;
}

@media (max-width: 760px) {
    .left-header {
        display: flex;
        flex-direction: column;

        position: fixed;
        width: 100%;
        height: auto;
        padding: 10px;
        padding-left: 20px;
        top: 0;
        left: 0;

        background-color: var(--dark-blue);
    }
    .left-header.active {
        height: 100%;
    }
    .header-content {
        visibility: hidden;
        position: absolute;
        top: 50px;
        padding-right: 40px;

        width: 100%;
        height: calc(100% - 50px);
        
        transition: 0s visibility;
    }
    .header-content:hover {
        width: 100%;
    }
    main {
        margin-top: 20px;
    }

    .menu-btn {
        display: flex;
    }

    .navbar-link {
        width: calc(100% - 15px);
    }
    .navbar-link.active {
        width: 100%;
        border-radius: 100px;
    }
    .navbar-link.active::before,
    .navbar-link.active::after {
        display: none;
    }
}