@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800;900&display=swap');

:root {
    --dark-blue: #294063;
    --blue: #3C8AFF;
    --light-blue: #CCE0FF;
    --main-background: #fff;
    --light-gray: #F1F1F1;
    --black: #000;
    --black-rgb: 0,0,0;
    --white: #fff;
    --dark: #3A3A3A;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
}
a {
    text-decoration: none;
}
html, body, .container, main {
    min-height: 100vh;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 900;
    line-height: 100%;
}

h1 {
    font-size: 3.1rem;
    margin-bottom: 5px;
}
h2 {
    font-size: 2.3rem;
    margin-bottom: 40px;
}
h3 {
    font-size: 1.5rem;
}

p, span, a, button, .btn {
    font-size: 1rem;
}

.container {
    max-width: 100%;
    width: 1440px;

    min-height: 100vh;
    margin: auto;

    display: flex;
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-content {
    background: var(--main-background);

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
}
section.bg-gray {
    background-color: var(--light-gray);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-right: -75px;
    padding-right: 75px;
    
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.tag {
    padding: 5px 15px;
    background-color: var(--light-blue);
    color: var(--blue);
    border-radius: 50px;
    outline: 0px solid var(--blue);

    display: inline-block;
    transform: scale(1);
    /* transition: .1s; */

    margin-bottom: 3px;
}
.tag:hover {
    /* transform: scale(1.05); */
    outline: 2px solid var(--blue);
}

.info {
    display: flex;
    align-items: center;

    margin-top: 50px;
    margin-bottom: 50px;

    position: relative;
}
.info > span {
    max-width: 750px;
}

.steps {
    margin-top: 40px;
    max-width: 1000px;
}
.step {
    background-color: var(--white);
    border-radius: 35px;
    padding: 35px;
    margin-bottom: 10px;
    width: 70%;
    position: relative;
}
.step p { 
    margin-bottom: 0;
}
.step:nth-child(2n+1) {
    margin-left: auto;
}

.step::before {
    content: attr(--num);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
    font-weight: 900;
    box-shadow: 0 0 0 14px rgba(var(--black-rgb), 0.05);
    background-color: var(--white);
    border-radius: 50%;

    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.step:nth-child(2n+1)::before {
    left: -160px;
}
.step:nth-child(2n)::before {
    right: -160px;
}






.advantages, .services {
    display: flex;
    flex-wrap: wrap;

    max-width: 1200px;
    width: 100%;
}
.advantage, .service {
    width: 33%;
}
.advantage {
    min-width: 300px;
    max-width: 320px;
    margin-bottom: 30px;
}
.advantage:not(:last-child) {
    margin-right: 80px;
}
.advantage img {
    margin-bottom: 25px;
}

.section-services {
    display: inline-block;
}
.service:not(:nth-child(3)) {
    margin-right: 15px;
}
.service {
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: var(--light-blue);

    width: 320px;
    min-height: 150px;
    padding: 30px;
    
    display: flex;
    justify-content: space-between;

    cursor: pointer;
    transition: .15s transform;
}
.service h3 {
    color: var(--black);
    /* width: 70%; */
}
.service ion-icon {
    color: var(--blue);
    font-size: 24px;
}
.service .right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.service .right img {
    width: 45px;
}
.more_services,
.more_services .btn {
    width: 100%;
}

.services_with_cities {
    margin-top: 30px;

    /* display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap; */

    /* column-count: auto;
    column-width: 300px;
    column-gap: 15px; */
}
.services_with_cities .service {
    padding: 10px;
    flex-direction: column;
    border-radius: 14px;
    margin-left: 0;
    display: block;
}
.service .service-content {
    background-color: var(--white);
    border-radius: 8px;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    color: var(--black);
}
.service-content p {
    margin-top: 10px;
    margin-bottom: 0;
}
.services_with_cities .cities {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    color: var(--blue);
}
.service:hover {
    transform: scale(1.05);
}
.service-content ion-icon {
    margin-top: 10px;
}

.order {
    display: flex;
    width: 100%;

    position: relative;
}
.order form {
    width: 100%;
    max-width: 800px;

    z-index: 1;
}
.right-img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);

    z-index: 0;
}
@media (max-width: 1300px) {
    .right-img {
        opacity: 0;
    }
}

.under-development {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    margin-top: -50px;
}
.under-development h2 {
    color: rgba(var(--black-rgb), .2);
    margin-bottom: 0;
    font-size: 60px;
}
.under-development span {
    font-weight: 900;
    font-size: 30px;
    line-height: 90%;
}
.text-with-border {
    color: var(--white);
    text-shadow: -1px 1px 0 var(--black),
                1px 1px 0 var(--black),
                1px -1px 0 var(--black),
                -1px -1px 0 var(--black);
}


.portfolio-list {
    margin-top: 50px;
}
.portfolio-list {
    margin-top: 50px;
}



footer {
    width: calc(100% + 75px);
    background-color: var(--dark);
    color: var(--white);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    padding-right: 85px;
    border-radius: 8px;
    margin-left: 2px;
}
footer h4 {
    margin: 0;
    font-size: 1rem;
    height: 1.1rem;
}




@media (min-width: 1440px) {
    .left-header {
        padding: 10px 0 !important;
    }
    .header-content {
        border-radius: 8px;
    }
    main {
        margin-bottom: 10px;
    }
}


@media (max-width: 1440px) {
    section {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
    }
    footer {
        margin: 0 !important;
        border-radius: 0 !important;
    }
    html {
        font-size: 14px;
    }
}


@media (max-width: 1190px) {
    .more_services {
        width: 320px !important;
        height: 150px;
    }
    .more_services .btn {
        height: 100%;
    }
    .more_services .btn span {
        font-size: 1.5rem;
        margin-right: 0;
    }
    .more_services .btn ion-icon {
        font-size: 2.5rem;
    }
    .service:nth-child(3) {
        margin-right: 15px;
    }
    .service:nth-child(2) {
        margin-right: 0;
    }
}


@media (max-width: 900px) {
    .step {
        width: 100%;
        border-radius: 12px;
    }
    .step h3 {
        margin-left: 25px;
        text-align: left;
    }
    .step::before {
        display: none;
    }
    .step::after {
        content: attr(--num);

        position: absolute;
        left: 35px;
        top: 35px;

        color: rgb(255, 83, 83);
        font-size: 1.5rem;
        font-weight: 900;
    }
    .step:nth-child(2n+1)::before {
        left: 0;
    }
    .step:nth-child(2n)::before {
        right: 0;
    }

    .service,
    .more_services {
        width: 280px !important;
    }

    section {
        padding-right: 10px !important;
    }

    .order .last-line > span {
        display: none;
    }
    .order .last-line > div {
        margin-left: auto;
    }

    .advantages {
        justify-content: center;
    }
    .advantage {
        margin-right: 0 !important;
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }
    .advantage h3,
    .advantage p {
        text-align: center;
    }
    .advantage img {
        width: 150px;
    }

    .services {
        justify-content: center;
    }

    h2, h3, h4, h5, h6 {
        text-align: center;
    }
}


@media (max-width: 760px) {
    section {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    section.bg-gray {
        padding-right: 20px !important;
        margin-right: 0;
    }
    .btn-up-container {
        display: none !important;
    }
    .advantages {
        width: 300px;
        margin-right: 0;
        margin: auto;
    }

    footer {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 620px) {
    .service {
        margin-right: 0 !important;
    }
    .advantage:last-child {
        margin-bottom: 0;
    }
    h1 {
        font-size: 2.5rem;
        margin-bottom: 5px;
    }
    h2 {
        font-size: 2.1rem;
        margin-bottom: 40px;
    }
    h3 {
        font-size: 1.4rem;
    }
}